# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
pubspec.lock
# Android
android/.gradle/
android/build/
android/local.properties
android/key.properties
android/*.jks
*.hprof
# APKs and bundles
**/*.apk
**/*.aab
# IDE
.idea/
.vscode/
.DS_Store
# Secrets
.env
*.p12
*-service-account.json
google-services.json
